<label>Server Name</label>
<!--<input type="text" 
class="form-control"
(input)="onUpdateServer($event)">-->
<input type="text" 
class="form-control"
[(ngModel)]="serverName">

<!--<P>{{ serverName }}</P>-->
<button class="btn btn-primary" 
[disabled]= "!allowNewServer"
(click)= "onCreateServer()">AddServer</button>
<!--<p>{{ serverCreationStatus }}</p>-->
<!--<p [innertext="allowNewServer"]></p>-->
<!--<p>The Sever1 Component</p>-->
<p *ngIf="serverCreated; else noServer" >Server was creatd, server name is  {{serverName}}</p>
<ng-template #noServer>
    <p>
        No server was created!
    </p>
</ng-template>
<app-server *ngFor="let server of server1"></app-server>


