<input type="text" [(ngModel)]="name">
<p>{{ name }}</p>
<h4>WELCOME</h4>
<h3>Hi, this {{title}}!</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
                <h3>I'm in the App Component</h3>
                <hr>
                <app-server></app-server>
                <app-server1></app-server1>
                <!--<div app-server></div>-->
                <!--<div class="app-servers"></div>-->
            

        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
               <ol>
                   <li></li>
               </ol>
        </div>
    </div>
</div>